#include "menu.h"

MENU_ID MENU
BEGIN
    POPUP "&FILE"
    BEGIN
        MENUITEM "&SAVE", SAVE_ID
        MENUITEM "&LOAD", LOAD_ID
        MENUITEM "&EXIT", EXIT_ID
    END

    POPUP "&LINE"
    BEGIN
        MENUITEM "&PARAMETRIC LINE", PARAMETRIC_LINE_ID
        MENUITEM "&DDA LINE", DDA_LINE_ID
        MENUITEM "&MIDPOINT LINE", MIDPOINT_LINE_ID
    END

    POPUP "&ELLIPSE"
    BEGIN
        MENUITEM "&DIRECT ELLIPSE", DIRECT_ELLIPSE_ID
        MENUITEM "&POLAR ELLIPSE", POLAR_ELLIPSE_ID
        MENUITEM "&MIDPOINT ELLIPSE", MIDPOINT_ELLIPSE_ID
    END

    POPUP "&CLIPPING"
    BEGIN
        MENUITEM "&POLYGON CLIPPING",  POLYGON_CLIPPING_ID
    END

    POPUP "&CURVES"
    BEGIN
        MENUITEM "&BEZIER CUBE CURVE", BEZIER_CUBE_CURVE_ID
        MENUITEM "&HERMITE CUBE CURVE", HERMITE_CUBE_CURVE_ID
        MENUITEM "&SPLINES GUIDED", SPLINES_GUIDED_ID
        MENUITEM "&SPLINES PASS", SPLINES_PASS_ID
    END

    POPUP "&CAMERA VIEW"
    BEGIN
        MENUITEM "CAMERA COORDINATE", CAMERA_COORDINATE_ID
    END
END
